@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
  font-family: "Montserrat";
}
@media (max-width: 835px) {
  body {
    align-items: initial;
  }
  body > div {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-areas: "left wrapper right";
    grid-template-columns: auto 85% auto;
    grid-template-rows: 100%;
  }
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}
@media (max-width: 835px) {
  h3 {
    display: none;
  }
}

.wrapper {
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25px calc(100% - 25px);
}
@media (max-width: 835px) {
  .wrapper {
    background-color: transparent;
    max-width: 800px;
    width: initial;
    color: #fff;
    grid-area: wrapper;
  }
}
.wrapper .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px;
}
.wrapper .days .day {
  justify-self: center;
  align-self: center;
}
@media (max-width: 835px) {
  .wrapper .days .day {
    display: none;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .wrapper .days .day.active {
    display: initial;
  }
}
@media (max-width: 835px) {
  .wrapper .days {
    grid-template-columns: 100%;
  }
}
.wrapper .list {
  font-size: 0.7em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100%;
}
.wrapper .list .column {
  padding: 5px;
}
.wrapper .list .column:nth-child(even) {
  border-right: 1px solid #ccc;
}
@media (max-width: 835px) {
  .wrapper .list .column:nth-child(even) {
    border-right: 0;
  }
}
.wrapper .list .column:last-child {
  border-right: 0;
}
.wrapper .list .column .row {
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  height: 50px;
  border-bottom: 1px solid #adadad;
  position: relative;
}
.wrapper .list .column .row:last-child {
  border-bottom: 0;
}
.wrapper .list .column .row.window {
  background-color: #ffe9ed;
}
.wrapper .list .column .row.c2tyg {
  background-color: #e0e0ff;
}
@media (max-width: 835px) {
  .wrapper .list .column .row.window {
    background-color: #ff748c;
  }
  .wrapper .list .column .row.c2tyg {
    background-color: #3838ff;
  }
}
.wrapper .list .column .row sub {
  margin-left: 0.3em;
  font-size: 0.8em;
}
.wrapper .list .column .row span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.7em;
  font-size: 0.8em;
}
@media (max-width: 835px) {
  .wrapper .list .column {
    display: none;
  }
  .wrapper .list .column.active {
    display: initial;
  }
}
@media (max-width: 835px) {
  .wrapper .list {
    grid-template-columns: 1fr 1fr;
  }
}

#a-pon, #a-wt, #a-pt {
  padding-top: calc(55px);
}

#a-sr, #a-czw, #p-sr {
  padding-top: calc(106px);
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}
#right img {
  transform: rotate(180deg);
}

#left, #right {
  justify-self: center;
}
#left img, #right img {
  width: 100%;
  max-width: 30px;
  display: none;
}
@media (max-width: 835px) {
  #left img, #right img {
    display: inherit;
  }
}
