$primary: #212123;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
    height: 100vh;
}

body {
    background: $primary;
    color: #fff;
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto 50px;
    grid-template-areas: 
        "main aside"
        "messenger aside";
    margin: 0;

    @media (max-width: 700px) {
        & {
            grid-template-columns: 100%;
            grid-template-rows: 51px auto 50px;
            grid-template-areas: 
                "aside"
                "main"
                "messenger";
        }

        &.burger-expanded {
            grid-template-rows: 70% auto 50px;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    main {
        grid-area: main;

        #content {
            margin: 0 10%;
        }

        @media (max-width: 850px) {
            #content {
                margin: 0;
            }
        }

        p {
            margin: 1em 1em 0;
            padding: 1em;
            background: lighten($primary, 5%);
            border-radius: 10px;
            opacity: .4%;
            font-size: .9em;
            display: block;
            clear: both;
            max-width: 80%;
    
            &.right {
                float: right;
            }
    
            &.left {
                float: left;
            }
        }
    }

    aside {
        grid-area: aside;
        background: lighten($primary, 5%);

        p {
            margin-left: 2.5em;
            position: relative;

            #current-info {
                display: none;
                @media (max-width: 700px) {
                    & {
                        display: initial;
                    }
                }
            }

            #settings-btn,
            #burger-btn {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: -1.3em;
                font-size: 1.3em!important;
            }

            #settings-btn {
                display: initial;
            }
            #burger-btn {
                display: none;
            }

            @media (max-width: 700px) {
                #settings-btn {
                    display: none;
                }
                #burger-btn {
                    display: initial;
                }
            }

            #add-btn {
                position: absolute;
                top: 0;
                right: 0.3em;
                cursor: pointer;
                font-size: 1.3em!important;
            }
        }

        .account {
            display: block;
            transition: background-color 200ms ease-in-out;

            figure {
                margin: 0 1em;
                padding: .75em 0;
                display: grid;
                grid-template-columns: 48px auto;

                img {
                    width: 100%;
                    border-radius: 50%;
                }

                figcaption {
                    align-self: center;
                    margin-left: 0.5em;
                }
            }

            &:hover {
                background: lighten($primary, 8%);
            }

            &.active {
                background: lighten($primary, 12%);
            }
        }
    }

    .simplebar-scrollbar {
        margin-right: 1.5px;

        &:before {
            background: lighten($primary, 30%);
        }
    }

    .modal {
        color: $primary;
        padding: 1em;
        border-radius: 3px;

        @media (max-width: 700px) {
            border-radius: 0px;
        }

        h3 {
            margin: 0 0 1em;
        }

        p {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {

                width: 96%;
                margin: 0 2%;

                figure {
                    cursor: pointer;
                    margin: 1em 0 0;
                    display: grid;
                    grid-template-columns: 48px auto;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }

                    figcaption {
                        align-self: center;
                        margin-left: 0.7em;
                    }
                }

                &.search {
                    width: 80%;
                    margin: 0 10%;

                    input {
                        width: 100%;
                        box-sizing: border-box;
                        padding: .3em;
                        border: 0;
                        font-family: 'Montserrat';
                        font-size: .9em;
                    }
                }
            }
        }
    }

    #messenger {
        grid-area: messenger;
        background: lighten($primary, 2.5%);

        input {
            font-family: 'Montserrat';
            font-size: 1em;
            border: 0;
            box-sizing: border-box;
            width: calc(100% - 50px);
            height: 100%;
            padding: 0 1.2em;
            background-color: transparent;
            color: #fff;
            float: left;
        }

        div {
            cursor: pointer;
            float: left;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 1.5em;
            }
        }
    }
}