@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: calc(100% - 8em);
}

body {
    padding: 4em;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0 0 30px 0;
}

p {
    line-height: 1.7em;
    text-align: justify;
}

.circle {
    float: left;
    width: 300px;
    height: 300px;
    margin: 15px 0 0 9px;
    shape-outside: content-box circle( 150px at 150px 150px );
}

.polygon {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    shape-outside: content-box polygon( 0 0, 1.2% 98.6%, 99.4% 100.8% );
}

img {
	float: left;
	width: 225px;
	/* height: 150px; */
	margin: -20px 0 0;
	shape-outside: content-box polygon( 3% 42.5%, 52.3% 19.6%, 96.4% 31.4%, 100.8% 41%, 53.9% 86.5%, 2.3% 63.4% );
	/* shape-outside: url('images/laptop.png'); */
}